<!--About Us -->
<section id = "art">
	<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Custom Artwork Services</h2>
          </div>
         </div>
          <p class = "text-muted text-justify"> Whether you have your own design team to create your artwork, or need a turnkey solution from idea to finished product, Latolak Prints is ready to work with you!
<br><br>

We boast a highly talented graphics department that can help achieve the look you need to insure an exceptional product.
</p>

<h5 class = " text-center">
<b>	Acceptable Art File Formats</b>
</h5>
	<div class = "row shift-down">
		<div class = "col-xs-2 col-lg-6">
		<img class="img-fluid spread-right" src="/img/portfolio/corel-draw.jpg" alt="corel draw by latolak prints">
	</div>
	<div class = "col-xs-10 col-lg-6">
	<b class = ""> Corel Draw</b><br>
		<p class = "text-primary">All text must be converted to outlines and document exported as an EPS or AI file.</p>
		</div>
	</div>
	<div class = "row shift-down">
		<div class = "col-xs-2 col-lg-6">
		<img class="img-fluid spread-right" src="/img/portfolio/illustrator.jpg" alt="corel draw by latolak prints">
	</div>
	<div class = "col-xs-10 col-lg-6">
	<b class = ""> Adobe Illustrator CC (preferred)</b><br>
		<p class = "text-primary">All text must be converted to outlines.</p>
		</div>
	</div>
	<div class = "row shift-down">
		<div class = "col-xs-2 col-lg-6">
		<img class="img-fluid spread-right" src="/img/portfolio/acrobat.jpg" alt="corel draw by latolak prints">
	</div>
	<div class = "col-xs-10 col-lg-6">
	<b class = ""> Adobe Acrobat PDF</b><br>
		<p class = "text-primary">
		Send your vector art saved as a PDF with full illustrator editing capabilities. <br>
		All text must be converted to outlines.</p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-2 col-lg-6">
		<img class="img-fluid spread-right" src="/img/portfolio/photoshop.jpg" alt="photoshop by latolak prints">
	</div>
	<div class = "col-xs-10 col-lg-6">
	<b class = "">Adobe Photoshop CS6 (PSD or Tiff)</b><br>
		<ul class = "text-primary">
			<li> Only for 4-color process (CMYK) or Gray scale (black & white) images </li>
			<li> All 4-color process (CMYK) Photoshop files must be 100% of imprint size and 300 dpi minimum.
			</li>
			<li>All Photoshop Gray scale images must be sent at 100% of imprint size and at least 600 dpi.</li>
		</ul>
		</div>
	</div>
	<br>
	<h5 class = "text-center">
<b>Unacceptable Art File Formats</b>
</h5>
<p text-justify>
	The following file formats are not acceptable;
	<ul>
		<li>Adobe InDesign 
		</li>
			<li>Microsoft Word
		</li>
			<li>Excel
		</li>
			<li>Powerpoint
		</li>
			<li>Publisher
		</li>
			<li>WordPerfect
		</li>
			<li>Adobe Freehand or any other documents or formats not listed under "Acceptable Art File Formats" cannot be accepted as art and will most likely incur our hourly rate (Art charges will apply for recreating your image into Adobe Illustrator.)

		</li>
		<li> 
JPEG, GIF, BMP, PCX, PNG or other low-resolution raster images are not acceptable art for all imprints. If your only art is in one of these formats, there will be an art charge to recreate the art in an acceptable vector or high resolution format (Art charges will apply for recreating your image into Adobe Illustrator, Photoshop or Corel Draw Format).</li>
	</ul>
</p>

      </div>
</section>