<!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class=" text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">We strive to bring smiles to face and make the production of your idea as stress-free as possible.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Beautiful Design</h4>
          <p class="text-muted">Whether you have a custom design or not, you are assured of a beautiful design that will stun your friends, customers and competitors.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-print fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">PRINTING</h4>
          <p class="text-muted">Our printers are of a very high quality giving you the excellent satisfaction you deserve.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-truck fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">DELIVERY</h4>
          <p class="text-muted">We deliver to your location in order to save you the stress of picking your awesome work yourself.</p>
        </div>
      </div>
    </div>
  </section>
  
  <!--Portfolio Grid -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Products</h2>
          <h3 class="section-subheading text-muted">These are some of the jobs we do.</h3>
        </div>
      </div>
      <div class="row">
       
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/bread_nylon.jpg" alt="bread nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Bread Nylon</h4>
            <p class="text-muted">BOPP Printed Nylon</p>
            <br>
            <div class = "p text-muted text-left">
            	No matter what colour your logo is, how intricate your design is or what the size of the bread you bake is, at Latolak Prints we can give you clear, well cut bags for you to package and sell your bread to your target audience. We are known for consistency and quality of supply.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/pure_water.jpg" alt="sachet water nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Sachet Water Nylon</h4>
            <p class="text-muted">LD nylon for sachet water.</p>
            <div class = "p text-muted text-left">
            	

Latolak Prints is one of Nigeria’s leaders in the manufacturing of pure water film (nylon). With machines using the latest technology working at record breaking speeds, we have the capability of meeting whatever pure water packaging needs the customer might have. We offer three grades of film; normal, premium and super premium, all with their various benefits.
            </div>
          </div>
        </div>
        
        
		
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/chips.jpg" alt="chips nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Chips Nylon</h4>
            <p class="text-muted">BOPP nylon for chips</p>
            <div class = "p text-muted text-left">
            	

Latolak Prints offers the film for packaging one of Nigeria’s most famous snacks, which can be customized as per the customer’s desires. Whether you wish to print on the film or leave it clear, and label in other ways, the choice is yours.
            </div>
          </div>
        </div>
		{{#if latest_products}}
			{{#each latest_products}}
				<div class="col-md-4 col-sm-6 portfolio-item">
				  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
					<div class="portfolio-hover">
					  <div class="portfolio-hover-content">
						<i class="fas fa-plus fa-3x"></i>
					  </div>
					</div>
					<img class="img-fluid" src="{{image}}" alt="{{title}} made by latolak prints">
				  </a>
				  <div class="portfolio-caption">
					<h4>{{title}}</h4>
					
					<div class = "p text-muted text-left">
						

		{{description}}
					</div>
				  </div>
				</div>
			{{/each}}
		{{/if}}
      </div>
      <div class = "text-center h1">
      <a href = "/products"><button type = "button" class = "btn-lg btn btn-dark"><b class = "text-white">See More</b></button></a>
      </div>
    </div>
  </section>
  
  <!--About Us -->
<section id = "about">
	<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Us</h2>
          <p class = "text-muted"> We <strong> LATOLAK PRINTS</strong> are importers and manufacturers of all kinds of polythene nylon such as: 
PP, HDPE, LDPE, BOPP. We extrude polyethylene into film ranging from a thickness of 3 - 300 microns or more. We print on all types of film, using either gravure or flexographic printing methods.  

</p>
        </div>
      </div>
</section>

<!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">We are just one click away! Got something to tell us? Feel free to reach us through any of the following means.</h3>
        </div>
     	</div>
     
     <div class = "row fa-1.5x">
     		<div class ="col-md-4">
        	<div class = "row">
        		<div class = "col-xs-6">
          			 
            			<span class="fa-stack fa-2 ">
            					<i class="fas fa-phone fa-stack-1x  text-white"></i>
            				</span>
          	</div>
          	<div class = "col-xs-6 fa-1.5x">
          			<a href = "tel: +2347039545778">07039545778</a><br> <a href = "tel: +2347051719145">07051719145</a>
          			</div>
          		</div>
          	</div>
          	<div class = "col-md-4">
          	<div class = "row">
          	<div class = "col-xs-2">
          		<span class="fa-stack">
            					<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            				</span>
            			</div>
            			<div class = "col-xs-8">
            			<p class = "text-white pull-left"><a href = "mailto: support@latolakprints.com.ng">support@latolakprints.com.ng</a></p>
            	
            		</div>
          	</div>
          </div>
          	
          	<div class = "col-md-4">
          		<div class = "row">
          			<div class = "col-xs-2">
          		<span class="fa-stack">
            					<i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
            				</span>
            				</div>
            				<div class = "col-xs-10">
            				<addr class = "text-white"><i><b>
          				Suite 3 Eni Plaza,<br>
          				Plot 7/8 Ilo Awela Road Ota, <br>
          				Ogun State.</i></b>
          			</addr>
          			</div>
          		</div>
          	</div>
          	
          </div>
     </div>
     
   
    </div>
  </section>

  