<!-- Portfolio Grid -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Products</h2>
          <h3 class="section-subheading text-muted">These are some of the jobs we do.</h3>
        </div>
      </div>
      <div class="row">
             <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/plant.jpg" alt="snacks (pop corn) nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Agricultural Mulch</h4><!--
            <p class="text-muted">BOPP pop corn bag</p>--><br>
            <div class = "p text-left text-muted">
            		The mulch film with different combinations of layers, thicknesses and widths as well as coatings have various properties to suit specific growers' needs, specifications and crops. These films have many different advantage to suit a wide range of purposes including:  moisture protection and water conservation, weed control, root development, modification of microclimate in plant and soil environments, substrate for plants and fruit, pest attraction or repelling, prevention of fertilizer dilution. 
Hence, making sure we have every option available to our customers.
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/carrier_bags.jpg" alt="carrier bags by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Carrier Bags</h4>
            <div class = "p text-muted"> Singlet Carrier Bags</div><br>
            <p class="text-muted text-left">
            Shopping bags can be extruded to the exact thickness, size and colour as per the customer's requirements. We can then print up to four different colours on each side of this film. This film can be supplied either as a roll or cut into individual pieces. After being cut, the style of handle can then be chosen as per your requirements; whether this is a simple "D-Punch" or make your bags a "Singlet Bag." Gazettes on either side or the bottom can be implemented to give you a more compact expandable bag.
            </p>
            
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/pure_water.jpg" alt="sachet water nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Sachet Water Nylon</h4>
            <p class="text-muted">LD nylon for sachet water.</p>
            <div class = "p text-muted text-left">
            	

Latolak Prints is one of Nigeria’s leaders in the manufacturing of pure water film (nylon). With machines using the latest technology working at record breaking speeds, we have the capability of meeting whatever pure water packaging needs the customer might have. We offer three grades of film; normal, premium and super premium, all with their various benefits.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/greenhouse.jpg" alt="shopping bag made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Green House</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
            	
	Greenhouse films sometimes referred to as agricultural plastic is used for protecting your crops from the harmful UV radiation constantly being emitted by the sun. Available in a maximum width of 6 meters, this film can be made to any length as per the customer's preference.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/bottle-water.jpg" alt="bottle-water made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Bottle Water Label Design and Print</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
            	
	

We design and print bottle water label in Nigeria. We custom make labels that have helped many companies increase their sales manifold. Be it a start-up or an SME, our labels provide that ‘little extra’ that every business is looking for.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/ice-bag.jpg" alt="ice bags made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Ice Bags</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
           	<ul>
           		<li>
           			Made to pass through cold temperature.
           		</li>
           		<li>
           			Full container loads.
           		</li>
           		<li>
           			FDA certified for food interaction.
           		</li>
           	</ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/black-bag.jpg" alt="black bag made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>HD Plain Black Bags</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
           	<ul>
           		<li>
           			Made for grocery shopping, restaurant carry-out and convenience stores.
           		</li>
           		<li>
           			Full container loads.
           		</li>
           		<li>
           			T-Shirt Bags
           		</li>
           		<li>
           			Comes in different sizes & thickness.
           		</li>
           	</ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/shrinkable-nylon.jpg" alt="shrinkable nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>LD Printed Shrinkable Nylon</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
           	<ul>
           		<li>
           			Shrinkable film: ideal to pack meat, cheese and fish.
           		</li>
           		<li>
           			Extraordinary contraction properties. 
           		</li>
           		<li>
           			Tear resistant.
           		</li>
           		<li>
           			Excellent sealing properties.
           		</li>
           	</ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/die-cut-bag.jpg" alt="die cut bags made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Die Cut Bags</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
           	

Biodegradable additives available
Full container loads
Handle with extra strength.
Print: up to 8 colors.
Perfect for jewelry, souvenirs, and much more.
Custom print available!
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/plain-carrier-bag.jpg" alt="plain carrier bags made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Plain Carrier Bags</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
           	<ul>
           		<li>
           			Made for grocery shopping, restaurant carry-out and convenience stores.
           		</li>
           		<li>
           			Full container loads.
           		</li>
           		<li>
           			Biodegradable additives available.
           		</li>
           	</ul>
            </div>
          </div>
        </div>
        
             <div class="col-md-3 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/bread_nylon.jpg" alt="bread nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Bread Nylon</h4>
            <p class="text-muted">BOPP Printed Nylon</p>
            <br>
            <div class = "p text-muted text-left">
            	No matter what colour your logo is, how intricate your design is or what the size of the bread you bake is, at Latolak Prints we can give you clear, well cut bags for you to package and sell your bread to your target audience. We are known for consistency and quality of supply.
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/laminated-packages.jpg" alt="Laminated Packages made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Laminated Packages</h4><!--
            <p class="text-muted">HD shopping bag</p>--><br>
            <div class = "p text-muted text-left">
           	


Used for snacks, candies, noodles, frozen food and more!
Outstanding seal strength and excellent slip
Good flatness and dimensional stability.
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/img/portfolio/chips.jpg" alt="chips nylon made by latolak prints">
          </a>
          <div class="portfolio-caption">
            <h4>Chips Nylon</h4>
            <p class="text-muted">BOPP nylon for chips</p>
            <div class = "p text-muted text-left">
            	

Latolak Prints offers the film for packaging one of Nigeria’s most famous snacks, which can be customized as per the customer’s desires. Whether you wish to print on the film or leave it clear, and label in other ways, the choice is yours.
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>